<launch>

      <arg name="rviz" default="false" />
      <param name="/use_sim_time" value="false" />
      <node name="map_load" pkg="map_server" type="map_server" args="$(find navi_map)/maps/lab212road.yaml" />
      
      <rosparam file="$(find navi_map)/config/global_inflation_local_obstacle.yaml" command="load" subst_value="true" />

      <node pkg="costmap_2d" type="costmap_2d_node" name="global_costmap_node" output="screen">
            <param name="costmap/static_layer/map_topic" value="/map" />
      </node>
      <node pkg="costmap_2d" type="costmap_2d_node" name="local_costmap_node" output="screen">
            <param name="costmap/obstacle_layer/pointcloud/topic" value="/lio/cloud_imu" />
      </node>

      <group if="$(arg rviz)">
            <node pkg="rviz" type="rviz" name="cost_map" args="-d $(find navi_map)/rviz/navi_2d.rviz" />
      </group>

</launch>
