<launch>
    <node name="map_load" pkg="map_server" type="map_server" args="$(find navi_map)/maps/lab10flour.yaml">
        <remap from="/map" to="/merged_map" /> 
    </node>
    <rosparam file="$(find navi_map)/config/missionmarker_map.yaml" command="load" />

    <node pkg="navi_map" type="map_maintain_node" name="map_maintain_node" output="screen" />

    <node pkg="navi_map" type="navi_map_missionmaker" name="navi_map_missionmaker" output="screen" />

    <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find navi_map)/rviz/missionmarker.rviz" />     

</launch>