<launch>
    <!-- 加载参数文件 -->
    <rosparam file="$(find navi_map)/config/missionmarker_map.yaml" command="load" />

    <!-- 使用加载的参数 -->
    <node pkg="navi_map" type="read_pcd_node" name="readPCD" output="screen" />

    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen">
        <param name="resolution" value="0.05" />
        <param name="frame_id" value="map" />
        <param name="base_frame_id" value="imu" />
        <param name="pointcloud_min_z" value="-0.6" />
        <param name="pointcloud_max_z" value="1.1" />
        <param name="latch" value="true" />
        <!-- 上述输入后以地面为occupancy_z的0点进行下面的高度裁剪 -->
        <param name="occupancy_min_z" value="0.0"/>
        <param name="occupancy_max_z" value="1.1"/>
        <remap from="/cloud_in" to="/readpcd" />
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find navi_map)/rviz/map_maintain.rviz" />
</launch>
