<?xml version="1.0"?>

<launch>
    <arg name="start_costmap" default="true" />
    <arg name="controller" default="true" />
    <group if="$(arg start_costmap)">
        <include file="$(find navi_map)/launch/global_inflation_local_obstacle.launch" />
    </group>

    <group if="$(arg controller)">
        <include file="$(find controller)/launch/purepursuit.launch" />
    </group>
    
    <rosparam command="load" file="$(find front2end_search)/config/navigation.yaml" />

    <node name="rviz_search" pkg="rviz" type="rviz" required="true" args="-d $(find navi_map)/rviz/navi_2d.rviz" />     

    <node name="planning_server" pkg="front2end_search" type="planning_server" output="screen" />


</launch>
